.imageUpload {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 500px;
  margin: 10px auto;
}

.imageUpload__caption {
  padding: 10px;
  border: 1px solid lightgray;
}

.imageUpload__progress {
  width: 100%;
}
