.imageUpload {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 480px;
  margin: 10px auto 0px auto;
  border: 1px solid lightgray;
  padding: 10px;
}

.imageUpload__caption {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid lightgray;
}

.imageUpload__progress {
  width: 100%;
}
